div.canvas-wrapper
{
    position: absolute;
    right:0;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -100;
    background-color: #303030;
}

body, html 
{
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%; 
}

canvas
{    
    width: 100%;
    height: 100%;
}

.wrapper
{
    padding: 40px;
}
.header
{
    font-family: sans-serif;
}

h1
{
    text-align: center;
    color: #F76902;
    margin-bottom: 40px;
    font-size: 100px;
    letter-spacing: 20px;
    font-weight: bold;
    margin: 0;
}

.search-input
{     
    letter-spacing: 1px;
    font-size: 20px;
    height: 39px;
}

.container
{
    margin: 0 auto;
    width: 45%;
    background: #FFF;
}

.courses
{
    width: 98.5%;
    padding-left: 10px;
}

.suggestions 
{
    border-top: 2px solid #303030;
}

.suggestions > div {
    font-family: sans-serif;
    padding: 15px;
    font-size: 20px;
    color: black;
    border-top: 1px solid #666;
}

.buttons
{
    text-align: center;
    margin: 30px;
}

.search
{
    letter-spacing: 1px;
    background-color: lightgray;
    margin-right: 10px;
    border: none;
    height: 30px;
    width: 140px;
    font-family: sans-serif;
}

.lucky
{
    letter-spacing: 1px;
    background-color: lightgray;
    margin-left: 10px;
    border: none;
    height: 30px;
    width: 140px;
    font-family: sans-serif;
}



