body, html
{
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

div.canvas-wrapper
{
    position: fixed;
    right:0;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -100;
    background-color: #303030;
    transition: all ease 0.5s;
}

body.viewing-tree div.canvas-wrapper {
    opacity: 0.1;
}

body.viewing-tree #search-form {
    display: none;
}

.back-button {
    position: fixed;
    top: 0.4em;
    left: 0.4em;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: lightgray;
    border: none;
}

canvas
{
    width: 100%;
    height: 100%;
}

.wrapper
{
    padding: 40px;
}
.header
{
    padding-bottom: 40px;
}

h1
{
    text-align: center;
    color: #F76902;
    margin-bottom: 40px;
    font-size: 100px;
    letter-spacing: 20px;
    font-weight: bold;
    margin: 0;
}

#search-input
{
    letter-spacing: 1px;
    font-size: 20px;
    width: 100%;
    height: 2.2em;
    padding-left: 10px;
}

.container
{
    padding: 0;
    margin: 0 auto;
    width: 45%;
    background: #FFF;
}

#suggestions
{
    border-top: 2px solid #303030;
}

#suggestions > div {
    padding: 15px;
    font-size: 20px;
    color: black;
    border-top: 1px solid #666;
    cursor: pointer;
    letter-spacing: 1px;
}

#suggestions div:hover
{
    background-color: #D7D2CB;
}

.buttons
{
    text-align: center;
    margin: 30px;
}

.buttons > button
{
    letter-spacing: 1px;
    background-color: lightgray;
    margin: 0 10px;
    border: none;
    height: 30px;
    width: 140px;
    cursor: pointer;
}

.buttons > button:hover
{
    background-color: #F76902;
}

div.modal-dialog {
  vertical-align: middle;
}

div.modal-content {
  vertical-align: middle;
  height: 100%;
}

div.rectangle {
  height: 15px;
  width: 40%;
  background-color: #F76902;
  padding-top: 0;
}

div.modal-header {
  border-bottom: 0;
}

div.modal-body {
  padding-bottom: 0;
  padding-top: 0;
}

h4.modal-title {
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 0;
}

span.not-bold {
  font-weight: normal;
}

div.square-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  margin-top: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

div.square-wrapper > div {
  padding: 10px;
  width: 50%;
  margin: 30px;
  border: 10px solid #000000;
  background: #E5E5E5;
  margin-bottom: 0;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

div.square-wrapper > div > h3 {
  font-size: 35px;
  text-align: center;
  font-weight: bold;
}

p.credits-value {
  line-height: 90%;
  text-align: center;
  vertical-align: center;
  font-size: 80px;
  margin: 0;
  color: #F76902;
  font-weight: bold;
}

p.grading-value {
  text-align: center;
  vertical-align: center;
  font-size: 30px;
  margin: 0;
  color: #F76902;
  font-weight: bold;
}

p.type-value {
  text-align: center;
  vertical-align: center;
  font-size: 40px;
  margin: 0;
  color: #F76902;
  font-weight: bold;
}

div.rectangle-wrapper {
  display: flex;
  justify-content: space-between;
}

div.rectangle-wrapper > div {
  padding: 10px;
  width: 50%;
  margin: 30px;
  border: 10px solid #000000;
  background: #E5E5E5;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

div.rectangle-wrapper > div > h3 {
  font-size: 35px;
  text-align: center;
  font-weight: bold;
}

p.prerequisites-value {
  text-align: center;
  font-size: 30px;
  margin: 0;
  color: #F76902;
  font-weight: bold;
}

p.college-value {
  text-align: center;
  vertical-align: middle;
  font-size: 45px;
  margin-top: 30px;
  color: #F76902;
  font-weight: bold;
}

h3.description-header {
  font-size: 35px;
  text-align: center;
  font-weight: bold;
}

div.course-description {
  padding: 10px;
  border: 10px solid #000000;
  margin: 30px;
  margin-top: 0;
  font-size: 20px;
  background: #E5E5E5;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

div.modal-footer {
  border-top: 0;
}


/* course nodes */

#graph-container {
    opacity: 0;
    transition: all ease 0.5s;
    /* padding: 0.5em; */
    /* background-color: #FFF; */
}

body.viewing-tree #graph-container {
    opacity: 1;
}

.course-node .heading {
    border-left: 3px solid black;
    padding-left: 0.4em;
    margin-left: calc(-0.4em - 3px);
    background-color: rgba(0,0,0, 0.1);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.course-node .code {
    font-size: 1.2em;
    font-weight: bold;
}

.course-node .name {
    font-size: 1.5em;
}

.course-node .info-button {
    float: right;
    margin: 0.4em;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 2px solid black;
    background: url(icons/info.svg) center center / 70% 70% no-repeat;
}

.course-node .prerequisites {
    margin-top: 0.5em;
}

.compound-node {
    border: 2px solid #FF9347;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.compound-node .title {
    padding: 0.05em;
    background-color: #FF9347;
    
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    
    cursor: pointer;
    user-select: none;
}

.compound-node .children {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 0.5em 0.5em;
}

.compound-node .children > div {
    margin: 0.7em 1.0em;
}

.compound-node.collapsed .title {
    
}

.compound-node.collapsed .children {
    display: none;
}
